@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family */

@font-face {
  font-family: "Jura";
  src: url("./assets/fonts/Jura-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Jura";
  src: url("./assets/fonts/Jura-Light.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "Jura";
  src: url("./assets/fonts/Jura-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Jura";
  src: url("./assets/fonts/Jura-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Jura";
  src: url("./assets/fonts/Jura-SemiBold.ttf") format("truetype");
  font-weight: semibold;
}
@font-face {
  font-family: "Itim";
  src: url("./assets/fonts/Itim-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "BrunoAce";
  src: url("./assets/fonts/BrunoAce-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: light;
}
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-SemiBold.ttf") format("truetype");
  font-weight: semibold;
}

body {
  font-family: "Comfortaa", sans-serif;
}

.skillbar {
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  position: relative;
}

.skillbar-fill {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  position: absolute;
  transition: width 1s ease;
}

.skillbar-fill.filled {
  width: 80%; /* Adjust this value according to your needs */
}

/* Optional styles for better visibility */
.skillbar-fill:after {
  content: attr(data-value);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}
