@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family */

@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: medium;
}
@font-face {
  font-family: "Comfortaa";
  src: url("./assets/fonts/Comfortaa-SemiBold.ttf") format("truetype");
  font-weight: semibold;
}
@font-face {
  font-family: "Bulgatti";
  src: url("./assets/fonts/Bulgatti.ttf") format("truetype");
}
@font-face {
  font-family: "Itim";
  src: url("./assets/fonts/Itim-Regular.ttf") format("truetype");
}

body {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff; /* Set the initial background color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #35b14f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #004d40;
}
